@font-face {
    font-family: BTFont;
    src:    url('BTFont-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: BTFont-Bold;
    src:  url('BTFont-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: BTFont-Light;
    src:  url('BTFont-Light.woff') format('woff');
    font-weight: 100;
}

/*  css document  */
html, body{ background: #ffffff; padding: 0; margin: 0; }
#wrapper{ width: 160px; height: 600px; position: relative; background: #fff; overflow: hidden; }

#FLARE_ASSETS_0000_Ellipse-1{position:absolute; top:0px; left:0px;border-style: none; background:url('FLARE_ASSETS_0000_Ellipse-1.png');width:0px;height:0px;padding:47px 47px 48px 48px;}
#FLARE_ASSETS_0001_Ellipse-2{position:absolute; top:0px; left:0px; border-style: none;background: url('FLARE_ASSETS_0001_Ellipse-2.png');width:0px;height:0px;padding:24px 24px 24px 24px;}
#FLARE_ASSETS_0002_Ellipse-3-copy{position:absolute; top:0px; left:0px; border-style: none;background: url('FLARE_ASSETS_0002_Ellipse-3-copy.png');width:0px;height:0px;padding:1px 1px 1px 1px;}
#FLARE_ASSETS_0003_Ellipse-3{position:absolute; top:0px; left:0px; border-style: none;background: url('FLARE_ASSETS_0003_Ellipse-3.png');width:0px;height:0px;padding:7px 7px 7px 7px;}
#FLARE_ASSETS_0004_Ellipse-4{position:absolute; top:0px; left:0px; border-style: none;background: url('FLARE_ASSETS_0004_Ellipse-4.png');width:0px;height:0px;padding:19px 19px 19px 19px;}
#FLARE_ASSETS_0005_Ellipse-5{position:absolute; top:0px; left:0px; border-style: none;background: url('FLARE_ASSETS_0005_Ellipse-5.png');width:0px;height:0px;padding:9px 9px 10px 10px;}
#FLARE_ASSETS_0006_Ellipse-5-copy{position:absolute; top:0px; left:0px; border-style: none;background: url('FLARE_ASSETS_0006_Ellipse-5-copy.png');width:0px;height:0px;padding:4px 4px 4px 4px;}
#FLARE_ASSETS_0007_Ellipse-5-copy-2{position:absolute; top:0px; left:0px; border-style: none;background: url('FLARE_ASSETS_0007_Ellipse-5-copy-2.png');width:0px;height:0px;padding:4px 4px 4px 4px;}
#FLARE_ASSETS_0008_Ellipse-8{position:absolute; top:0px; left:0px; border-style: none;background: url('FLARE_ASSETS_0008_Ellipse-8.png');width:0px;height:0px;padding:54px 54px 53px 53px;}
#FLARE_ASSETS_0009_Ellipse-9{position:absolute; top:0px; left:0px; border-style: none;background: url('FLARE_ASSETS_0009_Ellipse-9.png');width:0px;height:0px;padding:10px 10px 9px 9px;}
#FLARE_ASSETS_0010_Star{position:absolute; top:0px; left:0px; border-style: none;background: url('FLARE_ASSETS_0010_Star.png');width:0px;height:0px;padding:80px 80px 80px 80px;}
#FLARE_ASSETS_0011_Ellipse-6{position:absolute; top:0px; left:0px; border-style: none;background: url('FLARE_ASSETS_0011_Ellipse-6.png');width:0px;height:0px;padding:22px 22px 22px 22px;}

#lens-flare{position: absolute;left:0px;top:0px;width:160px; height:600px;opacity: 0;}
.flare{margin-left:-120px;margin-top: 80px;}

/*#bgIMG{position:absolute; top:0px; left:0px; content: url('54905_BT_Broadband_x2SIM_300x600.jpg');width:160px;height:600px;}*/
#bg{position:absolute; top:0px; left:0px; background-color: white; width:160px;height:600px;}
/*#logo{position:absolute; top:0px; left:0px; content: url('bt.png');width:160px;height:600px;}*/
#logo{position:absolute; top:0px; left:0px; width:160px;height:600px;}
#cta { opacity:0; font-family: BTFont-Light; position:absolute; color: white; text-align: center; font-size:14px; line-height:26px; border-radius: 2px; background: #e60050; min-width: 90px; padding-left: 3px; padding-right: 3px; height: 26px; left: 30px; top:0px; letter-spacing: 1px;}
.text { opacity:0; font-family: BTFont; position:absolute; color: white; font-size: 20px; line-height:22px;text-align: left; max-width: 115px; min-height: 30px; left: 20px; top:0px;
display:block;}
#legal-text { opacity:0;font-family: BTFont; position:absolute; color: white; font-size: 11px; text-align: center; line-height:11px; width: 160px; min-height: 10px; left: 10px; bottom:10px;  letter-spacing: .5px;}
#handset { opacity:0; position:absolute; background-repeat: no-repeat; width: 160px; height: 600px; left: 0px; top:0px; }
#handset_logo { opacity:0; position:absolute; background-repeat: no-repeat; width: 160px; height: 600px; left: 0px; top:0px; }
#reward-card { opacity:0; position:absolute; background-repeat: no-repeat; width: 109px; height: 109px; left: 25px; top:0px; background-size: 109px 109px; }
#reward-card-dyn {opacity:0; position:absolute; border: 3px solid white; border-radius: 34px; background: black; width: 142px; height: 34px; left: 75px; top:0px; }
#reward-card-text {font-family: BTFont-Bold; font-weight: 100;position:absolute; color: white; text-align: left; font-size:9px; line-height:14px; padding-left: 20px; height: 30px; left: 0px; top:48px; letter-spacing: .5px;}
#reward-card-amount {font-family: BTFont-Bold; font-weight: 100;position:absolute; color: white; text-align: right; font-size:24px; line-height:30px; padding-right: 18px; height: 26px; right: 0px; top:40px; letter-spacing: 1px;}

.offer { opacity:0; font-family: BTFont-Light; position:absolute; color: white; text-align: center; border: 2px solid white; padding-top: 2px; padding-bottom:-2px; border-radius: 6px; min-width: 128px; left: 16px; max-height:55px; top:0px;}
#offer1, #offer2 {position:absolute; top:0px;}

#text1{max-width:970px;}

b {font-family: BTFont-Bold;}
l {font-family: BTFont-Light;}
r {font-family: BTFont;}


h60{font-size: 60px;line-height: 60px;display:inline-block;}
h59{font-size: 59px;line-height: 59px;display:inline-block;}
h58{font-size: 58px;line-height: 58px;display:inline-block;}
h57{font-size: 57px;line-height: 57px;display:inline-block;}
h56{font-size: 56px;line-height: 56px;display:inline-block;}
h55{font-size: 55px;line-height: 55px;display:inline-block;}
h54{font-size: 54px;line-height: 54px;display:inline-block;}
h53{font-size: 53px;line-height: 53px;display:inline-block;}
h52{font-size: 52px;line-height: 52px;display:inline-block;}
h51{font-size: 51px;line-height: 51px;display:inline-block;}
h50{font-size: 50px;line-height: 50px;display:inline-block;}
h49{font-size: 49px;line-height: 49px;display:inline-block;}
h48{font-size: 48px;line-height: 48px;display:inline-block;}
h47{font-size: 47px;line-height: 47px;display:inline-block;}
h46{font-size: 46px;line-height: 46px;display:inline-block;}
h45{font-size: 45px;line-height: 45px;display:inline-block;}
h44{font-size: 44px;line-height: 44px;display:inline-block;}
h43{font-size: 43px;line-height: 43px;display:inline-block;}
h42{font-size: 42px;line-height: 42px;display:inline-block;}
h41{font-size: 41px;line-height: 41px;display:inline-block;}
h40{font-size: 40px;line-height: 40px;display:inline-block;}
h39{font-size: 39px;line-height: 39px;display:inline-block;}
h38{font-size: 38px;line-height: 38px;display:inline-block;}
h37{font-size: 37px;line-height: 37px;display:inline-block;}
h36{font-size: 36px;line-height: 36px;display:inline-block;}
h35{font-size: 35px;line-height: 35px;display:inline-block;}
h34{font-size: 34px;line-height: 34px;display:inline-block;}
h33{font-size: 33px;line-height: 33px;display:inline-block;}
h32{font-size: 32px;line-height: 32px;display:inline-block;}
h31{font-size: 31px;line-height: 31px;display:inline-block;}
h30{font-size: 30px;line-height: 30px;display:inline-block;}
h29{font-size: 29px;line-height: 29px;display:inline-block;}
h28{font-size: 28px;line-height: 28px;display:inline-block;}
h27{font-size: 27px;line-height: 27px;display:inline-block;}
h26{font-size: 26px;line-height: 26px;display:inline-block;}
h25{font-size: 25px;line-height: 25px;display:inline-block;}
h24{font-size: 24px;line-height: 24px;display:inline-block;}
h23{font-size: 23px;line-height: 23px;display:inline-block;}
h22{font-size: 22px;line-height: 22px;display:inline-block;}
h21{font-size: 21px;line-height: 21px;display:inline-block;}
h20{font-size: 20px;line-height: 20px;display:inline-block;}
h19{font-size: 19px;line-height: 19px;display:inline-block;}
h18{font-size: 18px;line-height: 18px;display:inline-block;}
h17{font-size: 17px;line-height: 17px;display:inline-block;}
h16{font-size: 16px;line-height: 16px;display:inline-block;}
h15{font-size: 15px;line-height: 15px;display:inline-block;}
h14{font-size: 14px;line-height: 14px;display:inline-block;}
h13{font-size: 13px;line-height: 13px;display:inline-block;}
h12{font-size: 12px;line-height: 12px;display:inline-block;}
h11{font-size: 11px;line-height: 11px;display:inline-block;}
h10{font-size: 10px;line-height: 10px;display:inline-block;}
h9{font-size: 9px;font-size: 9px;display:inline-block;}
h8{font-size: 8px;font-size: 8px;display:inline-block;}
h7{font-size: 7px;font-size: 7px;display:inline-block;}
h6{font-size: 6px;font-size: 6px;display:inline-block;}
h5{font-size: 5px;font-size: 5px;display:inline-block;}
h4{font-size: 4px;font-size: 4px;display:inline-block;}
h3{font-size: 3px;font-size: 3px;display:inline-block;}
h2{font-size: 2px;font-size: 2px;display:inline-block;}
h1{font-size: 1px;font-size: 1px;display:inline-block;}
#imgSquence{position:relative;top:336px;left:0px;width:160px;height:264px;background: url(seq_v2_160x600.png) no-repeat;background-position:0px 0px;z-index: 46;}

#Extra_Image {opacity: 0; position: absolute}
#Countdown_text {opacity: 1; position: absolute}
#Roundel {opacity: 1; position: absolute}
#Roundel_Text {opacity: 1;text-align: center;top: 0px;left: 0px;}
#Extra_Code{opacity:0;}
